<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesco.customsettings"
    android:versionCode="3"
    android:versionName="3.2.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
       <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name="com.cesco.customsettings.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".layWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider" />
        </receiver>
        <activity
            android:name="com.cesco.customsettings.layOnePrefs"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.UVTable"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.cesco.customsettings.layTwoPrefs"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.layThreePrefs"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.statsFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cesco.customsettings.layBootPrefs"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.layInstaller"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.layAbout"
            android:label="@string/app_name" />
        <activity
            android:name="com.cesco.customsettings.MinfreeFragment"
            android:label="@string/app_name" />
         <activity
            android:name=".ProfileNotification"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.cesco.customsettings.ProfileNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rebootDialog"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.cesco.customsettings.rebootDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recoveryDialog"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.cesco.customsettings.recoveryDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bootDialog"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.cesco.customsettings.bootDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HBdialog"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
            <intent-filter>
                <action android:name="com.cesco.customsettings.HBdialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>